[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"

[dev-packages]

[scripts]
start="flask run -p 3000 -h 0.0.0.0"

[requires]
python_version = "3.10"
